<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet"   th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>






<div th:fragment="footer"  class="navbar" style="width: 601px;">
<div class="nav">
<nav class="">
<p class="container">Tomek Domański. 2018</p>
</nav>
</div>
</div>
<script src="/jquery/jquery/3.2.1.min.js"></script>    
<script th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}"></script>
</body>
</html>