<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" />

</head>
<body>
	<div   th:fragment="header">
		<nav class="navbar navbar-inverse navbar-fixed-top ">
			<div class="container">
				<a th:href="@{/}" class="navbar-brand"> <img
					th:src="@{/photos/zebra.jpg}" align="left" border="1px"
					width="50px" height="50" />
				</a>
				<!-- 			<img src="../static/photos/zebra.jpg" align="left" border="1px" width="100px" height=""/> -->

				<div class="collapse navbar-collapse navCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/addProduct}">Dodaj produkt </a></li>
						<li><a href="#">Zaloguj się!</a></li>
						<li><a th:href="@{/register}">Zarejestruj się!</a></li>
					</ul>
				</div>

				<button class="navbar-toggle" data-toggle="collapse"
					data-target=".navCollapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
			</div>
		</nav>

	</div>
<script src="/jquery/jquery/3.2.1.min.js"></script>    
<script th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}"></script>

</body>
</html>