<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"  href="../../static/css/allStyles/bootstrap.min.css" th:href="@{/css/allStyles/bootstrap.min.css}" />
 <script th:src="@{webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>
<body>
	<div   th:fragment="header">
		<nav class="navbar navbar-inverse navbar-fixed-top ">
			<div class="container">
				<a th:href="@{/}" class="navbar-brand"> <img
					th:src="@{/photos/zebra.jpg}" align="left" border="1px"
					width="50px" height="50" />
				</a>

				<div class="collapse navbar-collapse ">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/addProduct}">Dodaj produkt </a></li>
						<li><a href="#">Zaloguj się!</a></li>
						<li><a th:href="@{/register}">Zarejestruj się!</a></li>
					</ul>
				</div>

				<button class="navbar-toggle" data-toggle="collapse"
					data-target=".navCollapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
			</div>
		</nav>

	</div>

</body>
</html>