<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sth</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../static/css/styles.css" type="text/css" rel="stylesheet">
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<div th:replace="fragments/header :: header">...</div>
	<!-- <img th:src="${photos/zebra.jpg}" class="empPhoto"  src="photos/zebra.jpg"/> -->
	<br>
	<div>
		<h2 th:if="${registerMessage}" th:text="${registerMessage}"></h2>
	</div>
	<div th:if="${message}">
		<h2 th:text="${message}" /></h2>
	</div>
	<br>
	<br>
	<div align="center">
		<img th:src="@{zebra.jpg}" height="50" align="middle" />
	</div>




	<br>
	<h1 class="container">All products in shop</h1>
	<div class="container">

		<table class="table table-bordered tab-content" cellpadding="12">
			<tr>
				<th>Photo</th>
				<th>Category</th>
				<th>Brand</th>
				<th>Price</th>
				<th>Description</th>
				<th>User</th>



			</tr>
			<tr th:each="product : ${products}" th:object="${product}">
				<td align="center"><a th:href="@{/{id}(id=${product.adress})}"> <img
						alt="Image" th:src="@{/{id}(id=${product.adress})}" width="100"
						height="100" align="middle" />
				</a></td>
				<td th:text="*{category}"></td>
				<td th:text="*{brand}">Brand</td>
				<td th:text="*{price}">Price</td>
				<td th:text="*{description}">Description</td>
				<td><a th:href="@{|/users/${product.user}|}" th:text="*{user}">UserID</a></td>

			</tr>



		</table>
	</div>
	<br>
	<Br>

	<br>

	<div class="container" th:replace="fragments/footer :: footer">...</div>

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js">
	</script>
</body>
<!-- <form action="#" method="post" th:action="@{/register}">
<input type="submit" value="Register">
</form>
 -->