
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shop application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/Own/styles.css"
	th:href="@{static/css/Own/styles.css}" />
<link rel="stylesheet" href="../static/css/materia/bootstrap.min.css"
	th:href="@{static/css/materia/bootstrap.min.css}" />
<!-- <script type="text/javascript" th:href="@{bootstrap/3.3.7/js/bootstrap.min.js}"></script> -->
 <script th:src="@{webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

	<div th:replace="fragments/header1 :: header">...</div>


		<br>
		<div>
			<h2 class="alert-heading" th:if="${registerMessage}"
				th:text="${registerMessage}"></h2>
		</div>
		<div th:if="${message}">
			<h2 th:text="${message}" /></h2>
		</div>
		<br> <br> <br>
		<h1 class="container ">All products in shop</h1>
		
		<div class="mySpace container">
			<div class="card card-body"> 
				<table class="table table-hover">
					<tr>
						<th>Photo</th>
						<th>Category</th>
						<th>Brand</th>
						<th>Price</th>
						<th>Description</th>
						<th>Date</th>
						<th>User</th>
						<th></th>
					</tr>
					<tr th:each="product : ${products}" th:object="${product}">
						<td align="center"><a
							th:href="@{/lol/{photoID}/lol(photoID=${product.adress})}"> <img alt="Image"
								th:src="@{/lol/{photoID}/lol(photoID=${product.adress})}" width="100" height="100"
								align="middle" />
						</a></td>
						<td th:text="*{category}"></td>
						<td th:text="*{brand}">Brand</td>
						<td th:text="*{price}">Price</td>
						<td th:text="*{description}">Description</td>
						<td th:text="*{date}">Date</td>
						<td><a th:href="@{|/users/${product.user}|}"
							th:text="*{user}">UserID</a>   </td>
							<td><a th:href="@{/chatt}" class="btn btn-dark">Send message</a></td>

					</tr>



				</table>

				<ul class="nav nav-pills">
					<li class="pagination pagination-sm form-inline p-2"
						th:each=" number : ${#numbers.sequence(0,products.totalPages-1)}">
						<a th:href="@{/(page=${number})}" th:text="${number}"
						class="nav-tabs"
						th:classappend="${currentPage}==${number}?'active':''"></a>

					</li>

				</ul>

			</div>
			<br> <Br> <br>

			<div class="container" th:replace="fragments/footer :: footer">...</div>

		</div>
</body>
<!-- <form action="#" method="post" th:action="@{/register}">
<input type="submit" value="Register">
</form>
 -->