<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"  />
<link rel="stylesheet"  th:href="@{/syles.css}" />
<link >


</head>
<body>
<h1>Registration form</h1>
<div class="container col-lg-pull-11">
	<div class="" th:replace="fragments/header :: header">...</div>
	<div class="myOwn">
	<h1 class="alert">siiema</h1></div>
	
<div   class=" container form-group">
<form class=" " action="#" method="post" th:action="@{/register}" th:object="${user}">
<input class="" th:field="*{name}" placeholder="Name">
<br>
<br>
<input class="" th:field="*{surname}" placeholder="Surname">

<p th:errors="*{username}">Username Error</p>
<input th:field="*{username}" placeholder="Username" >
<p th:errors="*{email}">Email Error</p>
<input type="email" th:field="*{email}" placeholder="Email">
<p th:errors="*{password}">Password Error</p>
<input type="password" th:field="*{password}" placeholder="password"><br><br>
<input type="submit" value="Send">
</form>
</div>




<div class="container" th:replace="fragments/footer :: footer">...</div>
</div>
<script src="/jquery/jquery/3.2.1.min.js"></script>    
<script th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}"></script>
</body>
</html>